@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
	--primary-bg: hsl(30, 38%, 92%);
	--secodary-bg: hsl(0, 0%, 100%);
	--accent: hsl(158, 36%, 37%);
	--dark-txt: hsl(212, 21%, 14%);
	--light-txt: hsl(228, 12%, 48%);
	--para: 14px;
}

/* resets */

html,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
button {
	display: block;
}

/* utilities */
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* styles */

.sale-price,
.product-name {
	font-family: Fraunces;
	font-size: 2rem;
}

body {
	background-color: var(--primary-bg);
	font-family: Montserrat;
	font-size: var(--para);
	color: var(--light-txt);
}

main {
	width: 100vw;
	height: 100vh;
}
.product-card__img,
.product-card__info {
	width: 50%;
}

.product-card {
	width: 40rem;
	height: 28rem;
}

.product-card__img {
	background-image: url(/images/image-product-desktop.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	/* width: 50%; */
	height: 100%;
	border-radius: 1.5rem 0 0 1.5rem;
}

.product-card__info {
	padding: 2rem 0 0 2rem;
	align-self: stretch;
	background-color: var(--secodary-bg);
	border-radius: 0 1.5rem 1.5rem 0;
}

.title {
	padding: 0 0 1.5rem 0;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	font-size: 1rem;
	font-weight: 500;
}

.product-name {
	padding: 0 4.5rem 1rem 0;
	color: var(--dark-txt);
	font-size: 2rem;
	line-height: 1;
}

.product-info {
	padding: 0 3rem 1.5rem 0;
	line-height: 1.5;
}
.price-container {
	justify-content: space-between;
	padding: 0 0 1.5rem 0;
}

.reg-price {
	/* align-self: flex-start; */
	padding: 0.5rem 5rem 0.5rem 0;
	font-size: 1rem;
	text-decoration: line-through;
}

.sale-price {
	color: var(--accent);
	font-size: 2rem;
}

.cta > img,
.cta > span {
	vertical-align: middle;
}

.cta > img {
	padding: 0 0.5rem 0 0;
}

.cta {
	cursor: pointer;
	width: 90%;
	padding: 0.8rem;
	border: none;
	border-radius: 0.5rem;
	font-size: 1rem;
	font-weight: 700;
	font-family: Montserrat;
	background-color: var(--accent);
	color: var(--secodary-bg);
	transition: background-color 500ms;
}

.cta:hover {
	background-color: #1a4031;
	transition: background-color 500ms;
}

@media screen and (max-width: 50rem) {
	.product-card {
		flex-direction: column;
		height: 40rem;
		width: 20rem;
	}

	.product-card__img,
	.product-card__info {
		width: 100%;
	}

	.product-card__img {
		background-image: url(/images/image-product-mobile.jpg);
		border-radius: 1.5rem 1.5rem 0 0;
	}

	.product-card__info {
		border-radius: 0 0 1.5rem 1.5rem;
		padding: 1rem;
	}

	.product-info {
		padding: 0 0 1.5rem 0;
	}

	.product-name {
		padding: 1rem 0.5rem;
		font-size: 1.8rem;
	}
	.cta {
		width: 100%;
		margin: 0 auto;
	}
}
